.contactsection {
  box-sizing: border-box;
  height: 80vh;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
}

/*react particles design */
.particles {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.nav-item {
  cursor: pointer !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
  border: 3px solid white !important;
  border-radius : 1rem;
  left: 4rem;
}

.logo {
  margin: 0.5rem;
  padding: 0.5rem;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.logoImage {
  transition: all 0.1s ease-in-out;
}
.logoImage:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.formsection {
  border-radius: 20px;
  background: #ffffff69;
  color: #ffffff;
  padding: 1rem;
}
.formgroup {
  margin-top: 2rem;
}

.fly-in {
  animation: fly-in 0.3s ease-in;
}

@keyframes fly-in {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
