.heading-decoration {
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 0.1em;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin: 10px 0px 20px;
}
.heading-decoration span {
  background: linear-gradient(90deg, #202020 50%, #202020 50%);
  padding: 0 10px;
}
.image {
  /* height: 600px; */
  /* width: 600px; */
  object-fit: contain;
}
